@model tttest.Models.Empolyee

@{
    ViewData["Title"] = "Edit";
}

<h1>แก้ไข</h1>

<h4>พนักงาน</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div class="form-group">
                <label class="control-label">ชื่อ - นามสกุล</label>
                <input asp-for="Employname" class="form-control" />
                <span asp-validation-for="Employname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">ที่อยู่</label>
                <input asp-for="EmployAdress" class="form-control" />
                <span asp-validation-for="EmployAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">ตำแหน่ง</label>
                <input asp-for="department" class="form-control" />
                <span asp-validation-for="department" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
           
                    <input class="form-check-input" asp-for="status" /> @Html.DisplayNameFor(model => model.status)
                </label>
            </div>
            <div class="form-group">
                <label  class="control-label">วันที่เข้า</label>
                <input asp-for="dateofb" class="form-control" />
                <span asp-validation-for="dateofb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
